
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

  button {
    background-color: #4c5156;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
  }
/* styles/global.css */
body {
    background-color: rgb(245 247 248/var(--tw-bg-opacity));
    /* Add other global styles here */
  }

  h1 {
    font-size: 40px;
    }

    .logo {
      font-family: 'Arial', sans-serif; /* Choose your preferred font */
      text-decoration: none; /* Removes underline from link */
      color: #000000; /* Color of the text */
    }
    .header {
      font-weight: bold; /* Make 'Lucifer' bold */
    }
    .lucifer {
      font-weight: bold; /* Make 'Lucifer' bold */
      font-size: 2.5em; 
    }
    .lucifer {
      font-weight: bold; /* Keep 'Lucifer' bold */
      margin-left: 22px; 
    }
    
    .aeo {
      font-weight: normal; /* Normal font weight for 'AEO' */
      font-size: 1.8em; /* Slightly smaller size for 'AEO' */
      vertical-align: top; /* Align 'AEO' with the top of 'Lucifer' */
   /* Adds a small space to the left of 'AEO' */
    }
    
    
    .aeo {
      font-weight: normal; /* Normal font weight for 'AEO' */
      font-size: 0.8em; /* Slightly smaller size for 'AEO' */
      vertical-align: top; /* Align 'AEO' with the top of 'Lucifer' */
    }
    
  